/* General */

html {
	font-size: 16px;
	font-family: 'Lato', sans-serif;
}

* {
	text-decoration: none;
	color: #4a4a4a;
}




/* Header */

header {
	height: 64px;
	height: 4rem;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between; 
}

.logo {
	height: 32px;
	height: 2rem;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	margin-left: 24px;
	margin-left: 1.5rem;
	font-size: 20.8px;
	font-size: 1.3rem;
	text-transform: uppercase;
}

.logo img {
	height: 100%;
	width: auto;
}

.logo span {
	color: #a1a1a1;
	font-weight: 300;
}

strong {
	font-weight: 700;
	color: #484848;
}

nav {
	margin-right: 24px;
	margin-right: 1.5rem;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

nav a {
	font-weight: 400;
	color: #3d3d3d;
	text-decoration: none;
	-webkit-transition: color 200ms;
	transition: color 200ms;
	margin-right: 16px;
	margin-right: 1rem;
}

nav a:hover {
	color: #999;
}

nav div {
	display: inline-block;
	height: 64px;
	height: 4rem;
	width: 16px;
	width: 1rem;
	background-color: #93e1e1;
}

.head-mob {
	display: none;
	width: 100%;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	            -ms-grid-row-align: center;
	        align-items: center;
}

@media only screen and (max-width: 880px) {

  .logo {
  	display: none;
  }

  .desktop {
  	display: none;
  }

  .head-mob {
  	display: -webkit-box;
  	display: -ms-flexbox;
  	display: flex;
  }

  .info-text {
  	padding: 0.3rem; 
  }

  nav {
  	margin: 0;
  }
}


/* Body */

/* Learn something new */

.learn-something-new {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #52AE89;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.img-container {
	width: 60%;
	margin: 32px 24px;
	margin: 2rem 1.5rem;
}

.large-pic {
	width: 100%;
	height: auto;
	box-shadow: 0.3rem 0.3rem 1rem #555;
}




h1 {
	font-size: 41.6px;
	font-size: 2.6rem;
	font-weight: 700;
	line-height: 1.3;
	margin: 0 0 32px 0;
	margin: 0 0 2rem 0;
}

h3 {
	font-size: 24px;
	font-size: 1.5rem;
	line-height: 1.5;
}


.start-btn-container {
	margin: 36.8px 0;
	margin: 2.3rem 0;
}

.start-btn {
	position: relative;
	padding: 8px;
	padding: 0.5rem;
	background-color: #A33A39;
	color: white;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	width: 70%;
	font-size: 20.8px;
	font-size: 1.3rem;
	/*margin: 2.3rem 0;*/
	-webkit-transition: all 300ms, color 100ms;
	transition: all 300ms, color 100ms;
	box-shadow: 0.05rem 0.05rem 0.5rem #555;
}

.start-btn:hover {
	box-shadow: 0.2rem 0.2rem 0.9rem #555;
	border: none;
	-webkit-transform: translateY(-2px);
	        transform: translateY(-2px);
}

.start-btn:active {
	color: #93e1e1;
}





/* Keep Parcticing */

.keep-practicing {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.pic-section {
	border-right: 1px solid #d9d9d9;
	width: 60%;
	display: inline-block;
	padding: 32px 24px;
	padding: 2rem 1.5rem;
}

.banner-1 {
	border: none;
}

.pic-section div h1 {
    margin: 32px 0 24px 0;
    margin: 2rem 0 1.5rem 0;
    display: block;
}

.pic-section div p {
	font-size: 17.6px;
	font-size: 1.1rem;
	font-weight: 300;
	color: #8e8f8f;
	line-height: 22.4px;
	line-height: 1.4rem;
}

.pic-section div span {
    font-weight: 300;
    font-size: 14.4px;
    font-size: 0.9rem;
    color: #444;
    display: block;
    margin-top: 24px;
    margin-top: 1.5rem; 
}

/* First column */

.first-column {
	width: 40%;
	display: inline-block;
}

.first-column .info {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	border-bottom: 1px solid #d9d9d9;
}

.first-column .info:first-child {
	margin-top: 16px;
	margin-top: 1rem;
}

.first-column .info:last-child {
	background-color: #8F75F8;
}

.first-column div img {
	width: 35%;
	height: auto;
	margin: 16px;
	margin: 1rem;
}

.info-text p {
	margin: 8px 0;
	margin: 0.5rem 0;
	font-weight: 300;
}

.info-text a {
	color: #94BDEB;
	-webkit-transition: color 300ms ease 25ms;
	transition: color 300ms ease 25ms;
}

.info-text a:hover {
   color: #576E8A;
}

img.mob {
	display: none;
}




/* Start learning */

.start-learning {
	background-color: #52AE89;
	padding: 32px 40px;
	padding: 2rem 2.5rem;
}

.start-learning h1 {
    text-align: center;
    margin-bottom: 32px;
    margin-bottom: 2rem;
}

.subjects {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-flex: 1;
	    -ms-flex: 1 1;
	        flex: 1 1;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}

.subjects div {
	margin: 0 16px 16px 16px;
	margin: 0 1rem 1rem 1rem;
	background-color: white;
}

.subjects img {
	height: auto;
	width: 100%;
}

.course-txt {
	padding: 16px 0 24px 16px;
	padding: 1rem 0 1.5rem 1rem;
}

.course-txt h4 {
    padding: 8px 0;
    padding: 0.5rem 0;
    font-size: 16px;
    font-size: 1rem;
    font-weight: 4800px;
    font-weight: 300rem;
    text-transform: uppercase;
	color: #8e8f8f;
}

.course-txt p {
	font-size: 16px;
	font-size: 1rem;
	font-weight: 300;
	color: #8e8f8f;
	line-height: 22.4px;
	line-height: 1.4rem;
}

.subjects-mob {
	display: none;
}

.subjects-mob div {
	color: white;
	background-color: #A33A39;
	padding: 16px 0 24px 16px;
	padding: 1rem 0 1.5rem 1rem;
	margin: 0 auto 8px auto;
	margin: 0 auto 0.5rem auto;
	width: 96%;
	font-size: 19.2px;
	font-size: 1.2rem;
    -webkit-transition: all 400ms ease 90ms;
    transition: all 400ms ease 90ms;
}

.subjects-mob div:hover {
	background-color: #CF4948;
}


.first-column .column-two:last-child {
	background-color: white;
	border-left: 1px solid #C0AC76;
	border-bottom: 1px solid #C0AC76;
}

.first-column .column-two:first-child {
	background-color: #C0AC76;
	margin-top: 32px;
	margin-top: 2rem;
}

.thesis h1 {
	text-align: center;
    margin: 32px 0 0 0;
    margin: 2rem 0 0 0;
}

.thesis-vid-section {
	border: 0;
}

.thesis h3 {
	margin: 24px 0 8px 0;
	margin: 1.5rem 0 0.5rem 0;
}

.thesis p {
	margin-bottom: 32px;
	margin-bottom: 2rem;
}

.first-column .now-then {
	border: none;
}



/* Footer */

.thesis h1 {
	text-align: center;
    margin: 32px 0 0 0;
    margin: 2rem 0 0 0;
}

.thesis-vid-section {
	border: 0;
}

.thesis h3 {
	margin: 24px 0 8px 0;
	margin: 1.5rem 0 0.5rem 0;
}

.thesis p {
	margin-bottom: 32px;
	margin-bottom: 2rem;
}

.first-column .now-then {
	border: none;
}



/* Footer */

footer {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	border-top: 1px solid #d9d9d9;
	font-weight: 300;
	color: #8e8f8f;
	height: 80px;
	height: 5rem;
}

footer span,
footer div {
	margin: 16px 24px;
	margin: 1rem 1.5rem;
}

footer div a {
	margin: 0 0 0 8px;
	margin: 0 0 0 0.5rem;
}

footer div a:hover {
	color: #888;
}


@media only screen and (max-width: 700px) {

	/* First Banner */


	.learn-something-new {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		-webkit-box-align: start;
		    -ms-flex-align: start;
		            -ms-grid-row-align: flex-start;
		        align-items: flex-start;
	}
	
	.img-container {
		width: 100%;
		margin: 0;
	}

	.pic-section {
		padding: 0;
		width: 100%
	}

	.learn-text h1,
	.learn-text h3 {
		margin-left: 16px;
		margin-left: 1rem;
	}

	.learn-text h1 {
		margin-top: 32px;
		margin-top: 2rem;
	}
	
	


	.start-btn {
		width: 80%;
		margin: 1.5rem auto 2rem auto;
		background-color: #A33A39;
	}

	.start-btn:hover {
		box-shadow: box-shadow: 0.1rem 0.1rem 0.5rem #333;
	}

	.first-column {
		width: 100%;
	}

	/* Banner two */


	img.desktop {
		display: none;
	}

	img.mob {
		display: block;
	}

	.first-column .info {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
        -webkit-box-align: start;
            -ms-flex-align: start;
                    -ms-grid-row-align: flex-start;
                align-items: flex-start;
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
        width: auto;
        border: none;
        margin: 32px 16px 64px 16px;
        margin: 2rem 1rem 4rem 1rem;
	}

	.first-column {
		width: 100%;
	}

	.first-column div img {
	    width: 100%;
	    margin: 0;
    }

    .first-column .info:last-child {
    	background-color: white;
    	margin: 16px 16px 32px 16px;
    	margin: 1rem 1rem 2rem 1rem;
    }

    .start-learning {
    	border-bottom: 1px solid #d9d9d9;
    	border-top: 1px solid #d9d9d9;
    }

    .subjects {
    	display: none;
    }

    .subjects-mob {
    	display: block;
    }

    .not-on-mob {
    	display: none;
    }

    .thesis-vid-section {
    	display: block;
    }

    .thesis h1 {
    	margin: 2rem 0 1rem 0;
    }

    video {
    	margin-bottom: 1.5rem;
    }


    /* Footer */

    footer {
    	height: auto;
    }

    footer div {
    	display: none;
    }

}








